node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
logs
*.log
log/
pids
*.pid
*.seed
*.pid.lock
dist/
build/
.vite/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
coverage/
*.lcov
dump/
*.local
*.bak
*.db
.env.local
.env.*.local
